<?xml version="1.0" encoding="utf-8"?><!--
 * Copyright (C) 2007 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.device.dualscreen.layouts"
    android:targetSandboxVersion="2">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".utils.SampleApp"
        android:label="Android TestCase"
        android:maxRecents="1"
        android:multiArch="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".compatibility.activities.FrameLayoutCtsActivity"
            android:label="FrameLayoutCtsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compatibility.activities.LinearLayoutCtsActivity"
            android:label="LinearLayoutCtsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.SimpleDuoFrameLayoutActivity"
            android:label="SimpleDuoFrameLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.SimpleDuoLayoutActivity"
            android:label="SimpleDuoLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.SimpleDualLayoutActivity"
            android:label="SimpleDualLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".utils.SimpleStartActivity"
            android:label="SimpleStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>
    </application>

</manifest>
